<div class="title">
	<h1>Calculator</h1>
</div>
<div class="incorrect">
	<p>{{incError}}</p>
</div>
<div class="calculator">
	Number1
	{{input type="number" max="1000" min="-1000" id="number1" value=number1}}<br>
	Number2
	{{input type="number" max="1000" min="-1000" id="number2" value=number2}}<br><br>
	<button type="button" {{action 'plus'}}>Plus</button>
	<button type="button" {{action 'abstract'}}>Subtract</button>
	<br>
	<p>Result: {{result}}</p>
</div>
{{outlet}}